#
# {{ ansible_managed }}
#
# [member]
ETCD_NAME="{{ etcd_name }}"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
#ETCD_WAL_DIR=""
#ETCD_SNAPSHOT_COUNT="10000"
#ETCD_HEARTBEAT_INTERVAL="100"
#ETCD_ELECTION_TIMEOUT="1000"
# Before changing this setting allowing etcd to be reachable over the network
# or if you have untrustworthy local users on the system where etc runs please
# make sure to enable authentication in the [security] section below. Please
# also read README.security for this package
{% if etcd_listen_peer_urls is defined %}
ETCD_LISTEN_PEER_URLS="{{ etcd_listen_peer_urls }}"
{% else %}
#ETCD_LISTEN_PEER_URLS="http://localhost:2380"
{% endif %}
ETCD_LISTEN_CLIENT_URLS="{{ etcd_listen_client_urls }}"
#ETCD_MAX_SNAPSHOTS="5"
#ETCD_MAX_WALS="5"
#ETCD_CORS=""
#
#[cluster]
{% if etcd_initial_advertise_peer_urls is defined %}
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{ etcd_initial_advertise_peer_urls }}"
{% else %}
#ETCD_INITIAL_ADVERTISE_PEER_URLS="http://localhost:2380"
{% endif %}
# if you use different ETCD_NAME (e.g. test), set ETCD_INITIAL_CLUSTER value for this name, i.e. "test=http://..."
{% if etcd_initial_cluster is defined %}
ETCD_INITIAL_CLUSTER="{{ etcd_initial_cluster }}"
{% else %}
#ETCD_INITIAL_CLUSTER="default=http://localhost:2380"
{% endif %}
{% if etcd_initial_cluster_state is defined %}
ETCD_INITIAL_CLUSTER_STATE="{{ etcd_initial_cluster_state }}"
{% else %}
#ETCD_INITIAL_CLUSTER_STATE="new"
{% endif %}
{% if etcd_initial_cluster_token is defined %}
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_initial_cluster_token }}"
{% else %}
#ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_initial_cluster_token }}"
{% endif %}
ETCD_ADVERTISE_CLIENT_URLS="{{ etcd_advertise_client_urls }}"
#ETCD_DISCOVERY=""
#ETCD_DISCOVERY_SRV=""
#ETCD_DISCOVERY_FALLBACK="proxy"
#ETCD_DISCOVERY_PROXY=""
#
#[proxy]
#ETCD_PROXY="off"
#ETCD_PROXY_FAILURE_WAIT="5000"
#ETCD_PROXY_REFRESH_INTERVAL="30000"
#ETCD_PROXY_DIAL_TIMEOUT="1000"
#ETCD_PROXY_WRITE_TIMEOUT="5000"
#ETCD_PROXY_READ_TIMEOUT="0"
#
#[security]
#ETCD_CERT_FILE=""
#ETCD_KEY_FILE=""
#ETCD_CLIENT_CERT_AUTH="false"
#ETCD_TRUSTED_CA_FILE=""
#ETCD_PEER_CERT_FILE=""
#ETCD_PEER_KEY_FILE=""
#ETCD_PEER_CLIENT_CERT_AUTH="false"
#ETCD_PEER_TRUSTED_CA_FILE=""
#
#[logging]
#ETCD_DEBUG="false"
# examples for -log-package-levels etcdserver=WARNING,security=DEBUG
#ETCD_LOG_PACKAGE_LEVELS=""
